.cards{
    /* margin-right: 200px; */
    /* border: 2px solid yellow; */
    display: flex;
    padding: 20px;
    /* padding-left: 20px; */
    gap: 50px;
    margin-left: 50px;
    max-width: 1440px;
    width: 100%;
}